
<div class="loginWrap container-fluid">
  <div class="title">
    <h2>Login</h2>
    <div class="clear"></div>
  </div>
    <div class="login_form">
		<form class="form-inline" name="loginForm" ng-submit="$ctrl.login($ctrl.credentials)" novalidate>
			<div class="form-group">
			  <label class="sr-only" for="number">Mobile  Number</label>
			  <div class="input-group">
				<input type="tel" class="form-control" ng-pattern="/^\d+$/" maxlength="10" name="mobile" id="number" ng-model="$ctrl.credentials.username" required placeholder="Mobile  Number">
			  </div>
				<p ng-show="loginForm.mobile.$invalid && loginForm.mobile.$dirty && !loginForm.mobile.$focused" class="error">{{$ctrl.invalidUser}}</p>
			</div>
			<div class="form-group password">
			  <label class="sr-only" for="Password">Password</label>
			  <div class="input-group">
				<input type="password" class="form-control" name="password" id="Password" ng-model="$ctrl.credentials.password" required placeholder="Password">
			  </div>
				<p ng-show="loginForm.password.$invalid && loginForm.password.$dirty && !loginForm.password.$focused" class="error">{{$ctrl.invalidPwd}}</p>
			</div>
			<div class="invalid-user" data-ng-show="loginFail">Please enter valid details</div>
			<div class="yello_btn" > <button  type="submit" class="btn">Sign in <i class="fa fa-angle-right"></i> </button> </div>
		</form>
		<div class="forget_pass"><a href="#" ng-click="forgotPassword()">Forgot password?</a></div>
		<div class="aleedy"><h3><a href="/signup"> New here? Sign Up</a></h3></div>
		<div class="clear"></div>
		</div>
</div>
